*{
  margin: 0;
  padding: 0;
}
.bodysection{
  min-height: 500px;
}
a:hover{
  text-decoration: none;
}
/*--------- login template-----*/
.form-wrapper{
	background:#fff;
  margin: 20px auto;
  font-family: Raleway;
  box-shadow:2px 3px 2px #000;
}

label{
	margin-top:5px;
	font-size:20px;
  text-transform: italic;
	font-weight:bold;
}
.ligIn-interface{

	background:#ccc;
	min-height:280px;
}
.ligIn-form{
	margin:0 auto;
	padding:10px;
	max-width:600px;
}
.headerform{
	padding:10px;
	background:#20c997;
	min-height:50px;
}
.logoLEft{
  font-style: italic;
  font-weight: bold;
	letter-spacing:2px;
	text-transform:uppercase;
	text-align:center;
}
.SubmitBtn{
	width:100%;
	margin-top:10px;
	background:#20c997;
	overflow:hidden;
	border-radius:5px;
	box-shadow:2px 3px 2px #000;
	padding:10px;
	transition:1s;
}
.SubmitBtn:hover{
	color:#fff;
	transition:1s;
}
.footerForm{
	padding:10px;
	background:#20c997;
}
.InfoWant{
	margin:0;
	text-align:center;
	font-size:20px;
}
.linkacc{
	text-align:center;
}
.textinput {
  padding: 5px;
  box-shadow:2px 3px 2px #000;
}
.emailinput{
  padding: 5px;
  box-shadow:2px 3px 2px #000;
}
/*-------- profile------*/
.information-group{
  background: #fbfbfb;
  padding: 10px;
}
.profile_section{

}
.name-section{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.nameheading{
  text-transform: capitalize;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}
.information_section{
  font-size: 18px;
  margin-left: 5px;
  text-transform: capitalize;
  font-weight: lighter;
  font-style: italic;
}
.looks{
  padding: 10px;
}

.profilephoto{
  height: 300px;
  width: 300px;
}
.bodysectionprofile{
  background: #fbfbfb;
}
.profilenavbar{
  margin-left: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #000 !important;
  font-weight: bold;
}
/*----- Membership section----*/
.Membershipsection{
  background: #fbfbfb;
}
.profilepic{
	height:100px;
	width:100px;
	margin-top:5px;
}
.name{
	margin-top:15px;
	padding-top:20px;
  text-transform: capitalize;
	font-size:35px;
	font-weight:bold;
	padding-left: 8px;
}
.profilemember{
	margin-top:15px;
	padding-top:20px;
}
/*------- social icon color------*/
.social-icon{
  padding: 10px;
}
.instagramcolor{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  padding: 11px;
  font-size: 30px;
  background:#E4405F;
  color: white;
}
.linkIN {
  background: #007bb5;
  color: white;
}
.twittercolor {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  padding: 12px;
  font-size: 30px;
  background: #55ACEE;
  color: white;
}
.fbcolor {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  padding: 14px;
  font-size: 30px;
  background: #3B5998;

  color: white;
}
