*{
  margin: 0;
  padding: 0;
}
.bodysection{
  min-height: 500px;
}
a:hover{
  text-decoration: none;
}
.headersection{
  background: #133861;
}
.navbar-brand{
	color:#fff !important;
	margin-right:50px;
	padding-right:50px;
}
.navbar-nav li a{
	text-transform:uppercase;
	color:#fff !important;
}
.edit-option{
	margin-left:80px;
}
.footersetion{
  background: #133861;
}
.text-center{
  padding: 10px;
  color:#fff;
}
.site-me{
  font-size: 18px;
  font-style: italic;
  color: #41c32b!important;
}
.text-center a{
  padding-right: 10px;
}
/*--------- login template-----*/
.form-wrapper{
	background:#fff;
  margin: 20px auto;
  font-family: Raleway;
  box-shadow:2px 3px 2px #000;
}
label{
	margin-top:5px;
	font-size:20px;
	font-weight:bold;
}
.ligIn-interface{

	background:#ccc;
	min-height:280px;
}
.form-control{
	box-shadow:2px 3px 2px #000;
}
.ligIn-form{
	margin:0 auto;
	padding:10px;
	max-width:600px;
}
.headerform{
	padding:10px;
	background:#20c997;
	min-height:50px;
}
.logoLEft{
	letter-spacing:2px;
	text-transform:uppercase;
	text-align:center;
}
.SubmitBtn{
	width:100%;
	margin-top:10px;
	background:#20c997;
	overflow:hidden;
	border-radius:5px;
	box-shadow:2px 3px 2px #000;
	padding:10px;
	transition:1s;
}
.SubmitBtn:hover{
	color:#fff;
	transition:1s;
}
.footerForm{
	padding:10px;
	background:#20c997;
}
.InfoWant{
	margin:0;
	text-align:center;
	font-size:20px;
}
.linkacc{
	text-align:center;
}
.textinput {
  padding: 5px;
  padding-left: 5px;
  width: 400px;
  box-shadow:2px 3px 2px #000;
}
.formstylye{
  padding-left: 50px;
}
.emailinput{
  padding: 5px;
  padding-left: 5px;
  min-width: 400px;
  box-shadow:2px 3px 2px #000;
}
