*{
  margin: 0;
  padding: 0;
}
.bodysection{
  min-height: 500px;
}
a:hover{
  text-decoration: none;
}
.headersection{
  background: #133861;
}
.navbarNav li a{
	text-transform:uppercase;
	color:#fff !important;
}
.dropdown{
  background: #133861;
}
.edit-option{
	margin-left:80px;
}
.footersetion{
  background: #133861;
}
.text-center{
  padding: 10px;
  color:#fff;
}
.site-me{
  font-size: 18px;
  font-style: italic;
  color: #41c32b!important;
}
.text-center a{
  padding-right: 10px;
}
/*--------- login template-----*/
.form-wrapper{
	background:#fff;
  margin: 20px auto;
  font-family: Raleway;
  box-shadow:2px 3px 2px #000;
}
label{
	margin-top:5px;
	font-size:20px;
  text-transform: italic;
	font-weight:bold;
}
.ligIn-interface{

	background:#ccc;
	min-height:280px;
}
.ligIn-form{
	margin:0 auto;
	padding:10px;
	max-width:600px;
}
.headerform{
	padding:10px;
	background:#20c997;
	min-height:50px;
}
.logoLEft{
	letter-spacing:2px;
	text-transform:uppercase;
	text-align:center;
}
.SubmitBtn{
	width:100%;
	margin-top:10px;
	background:#20c997;
	overflow:hidden;
	border-radius:5px;
	box-shadow:2px 3px 2px #000;
	padding:10px;
	transition:1s;
}
.SubmitBtn:hover{
	color:#fff;
	transition:1s;
}
.footerForm{
	padding:10px;
	background:#20c997;
}
.InfoWant{
	margin:0;
	text-align:center;
	font-size:20px;
}
.linkacc{
	text-align:center;
}
.textinput {
  padding: 5px;
  box-shadow:2px 3px 2px #000;
}
.emailinput{
  padding: 5px;
  box-shadow:2px 3px 2px #000;
}
/*-------- profile------*/
.bio-data{
  min-width: 300px;
  padding: 5px;
  min-height:200px;
  border: 1px solid #000;
  background: #e7e7ef;
}
.profilephoto{
  height: 300px;
  width: 300px;
}
.bodysectionprofile{
  background: #d4e3f3;
}
/*----- Membership section----*/
.Membershipsection{
  background: #cdd1d4;
}
.profilepic{
	height:100px;
	width:100px;
	margin-top:5px;
}
.name{
	margin-top:15px;
	padding-top:20px;
	font-size:35px;
	font-weight:bold;
	padding-left: 8px;
}
.profilemember{
	margin-top:15px;
	padding-top:20px;
}
