*{margin:0;
 padding:0;
 }
body{
	font-family:sans-sarif, arial !important;
	font-size:16px;
	line-height:25px;
}
/*-------------- logo --------*/
.bgheader{
	background:#539677;
	box-shadow:2px 4px 6px 6px #333d42;
	border-radius:10px;
}
.logo{
	padding:10px 20px;
}
.logo img{
	height:100px;
	width:100px;
	border-radius:50%;
}
.logotext{

	padding:10px 50px;
}
.logotext h2{
	text-shadow:-6px 5px 2px #362e42;
    font-size: 25px;
    font-style: italic;
    color: #fff;
    padding-top: 15px;

}
.logotext p{
	color:#ddd;
	text-transform:uppercase;
}
.logotext span{
	color:#51ff58;
}
.section-header {

	padding-top:50px;
    position: relative;
    margin-bottom: 50px;
}

.section-header .title {
	font-size:25px;
	color:#000;
	font-style:italic;
	letter-spacing:2px;
    text-transform:uppercase;
	font-family:font-family: 'Kumar One Outline', cursive !important;

}
.title:after {
    content:"";
  	display:block;
  	height:2px;
  	width:200px;
  	background-color:#151b54;
    margin-top:10px;
	border-radius:20px;

}

.text-center .title:after {
    margin: 10px auto 0px;
}
/*-------- social icon css-----*/
.social-area{
	padding:10px 0px;
	z-index:1;
	position:fixed;
	right:0;
	top:40%;

}
.social-area li{
	list-style:none;

}
.icons {
 padding:10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.icons:hover {
    opacity: 0.7;
}

.fb {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.googlePlus {
  background: #dd4b39;
  color: white;
}

.linkIN {
  background: #007bb5;
  color: white;
}

.Youtube {
  background: #bb0000;
  color: white;
}

.instgrm{
  background:#E4405F;
  color: white;
}
/*-------------- navbar section --------*/
#navbarsection{
	border-top:1px solid #1c1d1f;
	border-bottom:1px solid #1c1d1f;
	z-index:999;
}
.navbarcss{
	background:#164a3b!important;
}

.navbarcss ul li{
	padding-right:20px;
	margin-right:10px;
}
.navbarcss ul li a{
	text-transform:uppercase;
	letter-spacing:2px;
	color:#fff !important;
	transition:1s;
}
.navbarcss ul li a:hover{
	color:green!important;
	transition:1s;
}
.dropdown-menu{
	background:#202542!important;
}
.dropdown-menu a{
	background:#202542!important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*------------ slider section
----------*/
.carousel-indicators li{
	width:10px;
	height:10px;
	border-radius:50%;
}
#slidersection{
	position:relative;
	max-height:600px;
	background:#2ca095;
}
.slider_img{
	min-height:550px;
}
.carousel-inner{
	height:600px;
}
/*------------------profile section--------*/
#divsecton{
	 background:
 linear-gradient(to bottom, rgba(59,183,120,1) 0%,#3B5998 100%);
    box-shadow: 5px 5px 5px #888888;
	margin-top:20px;
	padding:20px;
	min-height:200px;
	position:relative
}
.service{
	margin-top:20px;
	 text-align: center;
    padding: 20px 30px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 4px #1b1e1f;
    transition: 3s;
    position: relative;
    overflow: hidden;
}
.item{
	box-shadow:0px 5px 20px #000;
		padding:20px 30px;
	border:1px solid #fff;
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
	border-radius:5px;
	text-align:center;
	transition:2s;
}
.item a{

	text-decoration:none;
    color:#fff;
}
.item:hover{
	border:1px solid #000;
	transition:2s;
	background:#eee;
	color:#000;
}
.item:hover a{
	color:#000;
	transition:1s;
    font-weight:500;
}
/*----------- student class section----------*/
#studentsecion{
	 background:
 linear-gradient(to bottom, rgba(59,183,120,1) 0%,#3B5998 100%);
    box-shadow: 5px 5px 5px #888888;
	min-height:500px;
	position:relative;
	/*background:#70ad70;*/
}
#newsarchive{}

.class-section{
	margin-bottom:20px;
	text-align:center;
	min-height:280px;
	width:300px;
	background:#fff;
	border-radius:5px;
	box-shadow:10px 10px 5px #000;
	text-transform:uppercase;
}
.class{
	padding-top:50px;
}
.class-section img{
	width:150px;
	height:100px;
	padding-top:20px;
}
.counterNum{
	padding-top:50px;
}
.studentNumber{

	margin-top:20px;
	width:100%;
	height:2px;
	background:#000;

}
.class-section h3{
	margin-top:10px;
}
.class-section a{
	letter-spacing:2px;
	font-size:20px;
	color:#000;
	text-transform:uppercase;
}
/*----------- latest news section css*/

/*---------- newsarchive-----*/
#newsarchive{
	background:#947f7f;
	min-height:200px;
}
/*--------- footer section----------*/
#footersection{
	margin-top:10px;
	background:#000;
	min-height:300px;
}

.rightfooter{
	color:#fff;
	padding:20px 10px;
}
.rightfooter ul li{
	list-style:none;
}
.copyright{
	color:#fff!important;
	font-size:16px;
	text-transform:uppercase;

}
.copyright:hover{
	color:red !important;
}

/*-------- form section------*/





/*-------- contact section------*/
.contactbg{
	margin-top:20px;
	background:#adaaaa;
	min-height:500px;
}
.ContactTitle{
	padding-top:20px;
	text-align: center;
  text-transform:uppercase;
  letter-spacing:2px;
}
.ContactTitle:after{
	content:'';
	display:block;
	height:2px;
	width:150px;
	margin:10px auto;
	background:#000;
}

#sendbtn{
	width:100%;
	height:50px;
	letter-spacing:3px;
	padding:10px;
	background:green !important;
	transition:.5s;
	border-radius:10px;

}
#sendbtn:hover{
	background:#fff !important;
	color:#000;
	transition:.5s;
}
#contactaddress{
	background:#294830;
	min-height:200px;
}
.address{
	color:#fff;
	text-align:center;
}
.address .fa{
	margin-top:10px;
	margin-bottom:10px;
	font-size:20px;
	padding:10px;
	width:40px;
	height:40px;
	border:1px solid #fff;
   	color:blue;
}
.address p{
	margin:0;
	padding:0;
}
/*---------- leadership -------*/

/*-------- leader section------*/
.teamsection{
	background:#8c9298;
	display:block;
}
.leaderTItle{
	text-align:center;
	margin:0;
	padding-top:10px;
	text-transform:uppercase;

}
.subtitle{
	text-align:center;
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:bold;
}
.subtitle:after{
	content:'';
	background:#000;
	display:block;
	height:2px;
	width:120px;
	margin:5px auto;
}
.leadersection{
	background:#edf4fd;
	min-height:1200px;
}
 .learderpics{
	 	height:200px;
	 width: 250px;
	border-radius: 5px;
 }
 .profile-leader{
	 overflow:hidden;
	 float:left;
	text-align:center;
	margin-right:8px;
	 margin-top: 20px;
	height:300px;
	 width: 250px;
	 border:2px solid #000;
	border-radius: 5px;
	background:#86d097;
 }
 .img-boxs{
	 border-radius: 5px;
	 opacity:1;
	 display:block;
	 position:relative;
 }
 .leader_name{
	 font-size:22px;
	 font-weight:bold;
	 margin-top:15px;
 }
 .img-boxs:after{
	 content:'';
	 opacity:0;
	 background-color:rgba(0,0,0,0.6);
	 position:absolute;
	 right:0;
	 left:0;
	 top:0;
	 bottom:0;
	 border-radius: 5px;
	 }

 .learder_posting{

 }
.learder-social{
	margin:0;
	padding:20px 0;
	position:absolute;
	z-index:1;
	bottom:0;
	display:block;
	left:50%;
	transform:translateX(-50%);
	opacity:0;

}
.learder-social li{
	width:30px;
	height:30px;
	border:1px solid #fff;
	border-radius:50%;
	margin:3px;
	padding:7px;
	display:inline-block;
}
.img-boxs:hover:after{
	opacity:1;

}
.learder-social li a{
	color:#fff;
}
.img-boxs:hover ul{
	opacity:1;
}
.learder-social li a:hover{
	color:#007bff;
	border:1px solid #007bff;
}
.img-boxs:after, .leader-social, .leader-social li{
	transition: all 0.5s ease-in-out 0s;
}


/*--------  section-------*/
