{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="Membershipsection">
  <div class="container">
       <p class="subtitle">Tripura Student's forum members's</p>
    <div class="row justify-content-center">

      <div class="col-md-8">
        {% for about in abouts %}
        <img src="{{ about.image.url }}" class="img-responsive">
      <h2>{{ about.title }}</h2>
      <p>
         {{ about.text }}
      </p>
      {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock %}
