{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="leadersection">
<div class="container">
 <h2 class="leaderTItle">Leader's</h2>
 <p class="subtitle">TSf central committee</p>
<div class="row justify-content-center">

<div class="col-md-8">
	<img src="{{ leaders.image.url }}" class="img-responsive leaderdetailspic">
  <div class="social-icon">
    <h3>Follow</h3>
    <h2>fb : {{ leaders.facebook}}</h2>
    <h2>tw : {{ leaders.twitter}}</h2>
    <h2>insta : {{ leaders.instagram}}</h2>
    <a href=""><i class="fab fa-facebook-f fbcolor"></i></a>
    <a href="{{ leader.twitter}}"><i class="fab fa-twitter twittercolor"></i></a>
    <a href="{{ leader.instagram}}"><i class="fab fa-instagram instagramcolor"></i></a>
  </div>
<h2>{{ leaders.name }}</h2>
<h4>{{ leaders.title }}</h4>

<p>{{ leaders.text }} </p>

</div>
</div>

</div>
</div>
{% endblock %}
