{% extends 'blog/base.html' %}

{% block body %}
<div class="Membershipsection">
  <div class="container">
       <p class="subtitle">Tripura Student's forum members's</p>
    <div class="row justify-content-center">

      <div class="col-md-8">
        {% for user in users %}
        <div class="profilemember">
           {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" class="rounded-circle profilepic">
        {% endif %}
        <a href="{% url 'profile_with_pk' pk=user.pk %}"><span class="name"> {{ user.first_name }} <span class="lastname">{{ user.last_name }}</span></a>
       {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
