{% extends 'blog/base.html' %}

{% block body %}
<div class="Membershipsection">
  <div class="container">
       <p class="subtitle">Tripura Student's forum members's</p>
     </div>
    <div class="row justify-content-center">

      <div class="col-md-8">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% for user in users %}
          <div class="profilemember">
           {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" class="rounded-circle profilepic">
        {% endif %}
        <a href="{% url 'profile_with_pk' pk=user.pk %}"><span class="name"> {{ user.first_name }} <span class="lastname">{{ user.last_name }}</span></a>


       {% endfor %}
       </div>
      </div>
    </div>
  </div>



{% endblock %}
