{% extends 'blog/base.html' %}
{% block body %}
<section id="latestNEws">
<div class="container">
<div class="section-header text-center">
			<h2 class="title" style="margin-top:10px; color:#fff;">latest News</h2>
		</div>
<div class="row">
  {% for post in posts %}
  <div class="col-md-4">
    <p>Published: {{ post.publish_date }} </p>
  <div class="newsbox">

  <img src="" alt="picture" />
  </div>

  <div class="newsdescribe">
  <h5><a href="{% url 'news_details' pk=post.pk %}" class="titleLink">{{ post.title }}</a></h5>
  </div>
  </div>
  {% endfor %}

</div>
</div>
</section>
{% endblock %}
