{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block  body %}
<div class="Membershipsection">
  <div class="container">
       <p class="subtitle">Tripura Student's forum, BANGLADESH</p>
    <div class="row justify-content-center">

      <div class="col-md-8">
				{% for post in posts %}

				<p>Published: {{ post.publish_date }}</p>
				  <img src="{% static 'img/school.jpg' %}" class="img-responsive news_img">
					<h2><a href="{% url 'news_details' pk=post.pk %}" class="titleLink">{{ post.title }}</a></h2>
					<div class="">
						<a href="#" class="btn btn-success">Like</a>
							<a href="#" class="btn btn-success">Comment</a>
							<a href="#" class="btn btn-success">Share</a>
					</div>
				{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
