{% extends 'blog/base.html' %}

{% block body %}
<body class="bodysectionprofile"

<div class="profile_section">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light profilenavbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'edit_profile' %}">Upate Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accoount_update' %}">Account Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-center">

    {% if user.profile.photo %}
       <img src="{{ user.profile.photo.url }}" alt="" class="rounded-circle profilephoto">
  {% endif %}
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="nameheading">
       <h2>{{ user.first_name }} <span class="lastname">{{ user.last_name }}</span></h2>
    </div>
  </div>
</div>
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">
  <div class="information-group">
    <div class="looks">

  <p> <span class="name-section">Father Name :</span> <span class="information_section">{{ user.profile.fathername }}</span></p>
  <p> <span class="name-section">Mother Name :</span> <span class="information_section">{{ user.profile.mothername }}</span></p>
  <p> <span class="name-section">School :</span> <span class="information_section">{{ user.profile.School }}</span></p>
  <p> <span class="name-section">College :</span> <span class="information_section">{{ user.profile.college }}</span></p>
  <p> <span class="name-section">University :</span> <span class="information_section">{{ user.profile.university }}</span></p>
  <p> <span class="name-section"> Department :</span> <span class="information_section">{{ user.profile.deparment }}</span></p>
  <p> <span class="name-section">Class Name :</span> <span class="information_section">{{ user.profile.Class }}</span></p>
  <p> <span class="name-section">Religion :</span> <span class="information_section">{{ user.profile.religion }}</span></p>
  <p> <span class="name-section">Birthday :</span> <span class="information_section">{{ user.profile.birthday }}</span></p>
    <p> <span class="name-section">Gender :</span> <span class="information_section">{{ user.profile.gender }}</span></p>
      <p> <span class="name-section">Status :</span> <span class="information_section">{{ user.profile.status }}</span></p>
  <p> <span class="name-section">Current Work:</span> <span class="information_section">{{ user.profile.current_work }}</span></p>
  <p> <span class="name-section">Village :</span> <span class="information_section">{{ user.profile.Village }}</span></p>
  <p> <span class="name-section">Thana :</span> <span class="information_section">{{ user.profile.thana }}</span></p>
    <p> <span class="name-section">District :</span> <span class="information_section">{{ user.profile.district }}</span></p>
      <p> <span class="name-section">Local City	 :</span> <span class="information_section">{{ user.profile.local_city }}</span></p>
        <p> <span class="name-section">Current City	 :</span> <span class="information_section">{{ user.profile.current_city }}</span></p>
          <p> <span class="name-section">Bio :</span> <span class="">{{ user.profile.bio_data|linebreaksbr }}</span></p>
    </div>

  </div>
</div>
</div>
</div>

</div>
</body>
{% endblock %}
