{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="leadersection">
<div class="container text-center">
  <div class="">
    <img class="logotsf " src="{% static 'img/tsf.jpg' %}" alt="" />
  </div>
<h4 class="leaderTItle">Sub-Leader's</h4>
<p class="subtitle">TSf central committee</p>
<div class="">
    <a href="{% url 'leader_list' %}" class="btn btn-success">Central Leader</a>
</div>

{% for subleader in subleaders %}
     <div class="profile-leader">

 <div class="img-boxs">
   <img src="{{ subleader.image.url }}" class="img-responsive learderpics">
 <ul class="learder-social">
 <li><a href="{{subleader.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
 <li><a href="{{ subleader.twitter}}"><i class="fab fa-twitter"></i></a></li>
 <li><a href="{{ subleader.instagram }}"><i class="fab fa-instagram"></i></a></li>

 </ul>
 </div>
<h2 class="leader_name"><a href="{% url 'subleader_details' pk=subleader.pk %}">{{ subleader.name }}</a></h2>
 <h4 class="learder_posting">{{ subleader.title }}</h4>
 </div>
 {% endfor %}
</div>
</div>

{% endblock %}
