{% extends 'blog/base.html' %}

{% block body %}

<body class="bodysectionprofile">
<!-- table------>
<div class="container">
<div class="row justify-content-center">
   {% if user.profile.photo %}
      <img src="{{ user.profile.photo.url }}" alt="" class="rounded-circle profilephoto">
{% endif %}
<div class="col-md-10">
<table class="table table-bordered table-dark">
  <tbody>
            <tr>
                  <th scope="row">Name</th>
                  <td> {{ user.first_name }} <span class="lastname">{{ user.last_name }}</span></td>

            </tr>

              <tr>
                    <th scope="row">Father Name</th>
                    <td> {{ user.profile.fathername }}</td>

              </tr>

          	   <tr>
                    <th scope="row">Mother Name</th>
                    <td>{{ user.profile.mothername }}</td>

              </tr>

               <tr>
                    <th scope="row">School</th>
                    <td>{{ user.profile.School}}</td>

              </tr>

          	 <tr>
                    <th scope="row">Colllege</th>
                    <td>{{ user.profile.college }}</td>

              </tr>

          	 <tr>
                    <th scope="row"> University</th>
                    <td>{{ user.profile.university }}</td>

              </tr>

          	 <tr>
                    <th scope="row">Department</th>
                    <td>{{ user.profile.deparment }}</td>

              </tr>

          	 <tr>
                    <th scope="row">Class</th>
                    <td>{{ user.profile.Class }}</td>

              </tr>

          	 <tr>
                    <th scope="row">Religion</th>
                    <td>{{ user.profile.religion }}</td>

              </tr>

              <tr>
                     <th scope="row">Birthday</th>
                     <td> {{ user.profile.birthdate }}</td>

               </tr>
              <tr>
                 <th scope="row">Phone</th>
                 <td>{{ user.profile.phone }}</td>

               </tr>
          	 <tr>
                <th scope="row">Village</th>
                <td>{{ user.profile.Village }}</td>

              </tr>
          	 <tr>
                <th scope="row">Thana</th>
                <td>{{ user.profile.thana }}</td>

              </tr>

              <tr>
                 <th scope="row">District</th>
                 <td> {{ user.profile.district }}</td>

               </tr>
               <tr>
                  <th scope="row">Local City</th>
                  <td> {{ user.profile.local_city }}</td>

                </tr>
               <tr>
                  <th scope="row">Current City</th>
                  <td> {{ user.profile.current_city }}</td>

                </tr>
                <tr>
                   <th scope="row">Bio</th>
                   <td> {{ user.profile.bio_data|linebreaksbr }}</td>

                 </tr>
            </tbody>
</table>
</div>
</div>
</div>
</body>
{% endblock %}
