{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}



{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-wrapper">
      <div class="headerform">
      <h4 class="logoLEft">Tirpura Student's Forum</h4>
      </div>
      <div class="ligIn-interface">

          <form class="form-group" method="post">
            <div class="formstylye">
            {% csrf_token  %}
            {{ form|crispy }}
              </div>
            <button type="btn btn-success" class="SubmitBtn" Name="submit" value="Submit">SUBMIT</button>
          </form>


      </div>
      <div class="footerForm">
      <p class="InfoWant">connect with thes</p>
      <h4 style="text-align:center;">

        <a href="{% url 'social:begin' 'github' %}">
         <button type="button" class="btn btn-primary">Github</button>
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
         <button type="button" class="btn btn-danger">Google+</button>
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
         <button type="button" class="btn btn-success">Facebook</button>
        </a>
      </h4>



      </div>



      </div>
    </div>

  </div>




</div>




















<div class="container">
  <div class="row justify-content-center">



  </div>



</div>


{% endblock %}
